/*/////////////////////////////////////////////

                ORDRES GÉNÉRALS

/////////////////////////////////////////////*/

body{
    font-family: 'Avenir Next', sans-serif;
    font-weight: 300;
}

a{
    color:inherit;                  /* HERITE COLOR PARENT */
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2 {
    font-size: 30px!important;
    padding: 30px;
    text-align: center;
}

mark{
    color: #2D00A0!important;
    background-color: inherit!important;
}

.row{
    margin: 50px 0;
}

.boutton-violet{
    text-align: center;
}

.boutton-violet button{
    border: none;
    border-radius: 15px;
    padding: 15px 50px;
    background-color: #5621D9;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 300;
}

.boutton-violet button:hover{
    cursor: pointer;
}

.logo-content{
    text-align: center;
    margin: auto;
}



/*/////////////////////////////////////////////

                 ERROR 404

/////////////////////////////////////////////*/

.error-page{
    background-image: url('images/figures/bg-404.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}





/*/////////////////////////////////////////////

                   HEADER

/////////////////////////////////////////////*/

.header{
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0;
    height: 100vh;
}

.header .fly-bg{
    display: block;
    position: absolute;
    right: 6%;
    top: 27%;
    transform: rotate(20deg);
}

.pre-header{
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.2);
}

.pre-header strong{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
}

.pre-header strong a{
    text-decoration: none;
    color: inherit;
}

.pre-header strong:hover img{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.pre-header strong img{
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    height: 25px;
}

.navbar{
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    font-size: 16px;
    font-weight: 300;
    color: #bbbbbb;
    transition: 0.5s all;
}

.navbar a:hover, .navbar a.active{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s all;
}

.header .container{
    height: 92%;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.header .container strong{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    width: 65%;
    text-align: center;
}

.header .container small{
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 50px;
    border-radius: 20px;
}

.header .container button{
    border: 3px solid white;
    border-radius: 10px;
    padding: 8px 50px;
    background-color: inherit;
    color: white;
    font-size: 24px;
    margin-top: 80px;
    transition: 0.5s all;
}

.header .container button:hover{
    background-color: rgba(255,255,255,0.4);
    transition: 0.5s all;
}

.hamburger{
    opacity: 0;
}

@media screen and (max-width: 780px){

    .header .container strong{
        font-size: 38px;
        line-height: inherit;
    }

    .header .container small{
        font-size: 14px;
    }

    .header .fly-bg{
        display: none;
    }

    .header .container button{
        font-size: 18px;
    }

    body input + label {
        position: fixed;
        top: 25px;
        right: 40px;
        height: 20px;
        width: 15px;
        z-index: 5;
    }

    body input + label span {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: #5621D9;
        transition: .5s;
    }

    body input + label span:first-child {
        top: 3px;
    }
    body input + label span:last-child {
        top: 16px;
    }
    body label:hover {
        cursor: pointer;
    }
    body input:checked + label span {
        opacity: 0;
        top: 50%;
    }
    body input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
    }
    body input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
    }
    body input ~ .navbar {
        background: rgba(255,255,255,0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 3;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
    }
    body input ~ .navbar > a {
        opacity: 0;
        transition: 0s;
        transition-delay: 0s;
    }
    body input ~ .navbar > a {
        text-decoration: none;
        text-transform: uppercase;
        color: #020304;
        font-weight: 700;
        font-family: sans-serif;
        padding: 30px;
        display: block;
    }
    body input:checked ~ .navbar {
        height: 100%;
        transition-delay: 0s;
        background-color: white;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 120px 0;
    }
    body input:checked ~ .navbar > a {
        opacity: 1;
        transition-delay: .5s;
    }

    body input:checked ~ .navbar > a:hover, .navbar a.active{
        color: #5621D9!important;
        transition: .2s all;
    }

    .pre-header strong{
        text-align: center;
        width: 100%;
    }

}





/*/////////////////////////////////////////////

                 BEST-PLACE

/////////////////////////////////////////////*/

.city{
    padding-top: 50px;
}

.card
{
    border: none!important;
    margin-bottom: 50px;
}

.card-body
{
    background-color: #F5F5F5;
    border: none;
}

.card-body p
{
    font-size: 13px;
    color: #4E4E4E;
    font-weight: 400;
}

.card-body h5
{
    font-weight: 300;
}

.card-body ul
{
    list-style-type: none;
}

.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10em;
}

.card-title strong{
    font-weight: 600;
    text-transform: capitalize;
}


.card-body ul li
{
    float: left;
    font-size: 17px;
    color: #505050;
    position: relative;
    left: -25px;
    margin-left: 10px;
}

.card-body ul li svg
{
    color: #BBBBBB;
    margin-right: 3px;
}

.card-img-top{
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: .5s filter;
}

.card-img-top:hover{
    filter: contrast(70%);
    transition: .5s filter;
}

.city-card
{
    margin: 40px 0;
}

.city .para{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}



/*/////////////////////////////////////////////

                BEST-EVENT

/////////////////////////////////////////////*/

.best-event{
    padding: 50px 0;
}

.best-event_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: white;
    margin: 10px 0;
    background-position: center;
    background-size: cover;
}

.best-event_content strong{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.best-event_content small{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}






/*/////////////////////////////////////////////

                   HOW IT'S WORK

/////////////////////////////////////////////*/

.howSubTitle{
    text-align: center;

}

.howitwork img{

    display : block;
    margin: 0 auto;
    height: 90px;
    margin-bottom: 30px;

}

.howitwork p {
    text-align: center;
    font-size: 15px;
    color: #9A9A9E;
}
.howitwork {
    background-color: #FAFAFA;
    padding: 50px 0;
}




/*/////////////////////////////////////////////

                   FEEDBACK

/////////////////////////////////////////////*/

.feedbackSection{
    padding: 50px 0;
}

.feedbackTitle {
    text-align: center;
}

.carte {
    background-color: #FAFAFA;
    margin: 0 20px;
    padding: 50px;
    margin-bottom: 30px;
    max-height: 370px;
}

.feedbackSection img{
    border-radius: 50%;
    display : block;
    margin: 0 auto;
    height: 90px;
    margin-bottom: 30px;
}

.carte p{
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}

.carte h6{
    text-align: center;
    font-weight: 600;
}



/*/////////////////////////////////////////////

                   FOOTER

/////////////////////////////////////////////*/


.footer{
    width: 100%;
    height: 170px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer small {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #7E7E7E;
    font-weight: 500;
}

.footer img {
    height: 40px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.footer img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/*/////////////////////////////////////////////

                   MODAL

/////////////////////////////////////////////*/



#wrap
{
    width: 100%;
}

.modaltest
{
    width: 100%;
}

.modal-content
{
    background-color: #F5F5F5!important;
    font-family: 'Avenir Next', sans-serif!important;
    margin-top: 100px;
    margin-bottom: 100px;
}

.modal-content span
{
    text-align: right;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 30px;
}

#myModal
{
    display: block;
    margin: auto;
}



.modal-content button
{
    margin-top: 10px;
    padding: 10px 45px;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #5621D9;
    border-color: #5621D9;
    border-radius: 5px;
}

.form-group
{
    text-align: left;
}

.form-group label
{
    margin-top: 13px;
    font-size: 18px;
}

.form-group input
{
    border: none;
    height: 40px;
    font-size: 12px;
}

.form-group textarea
{
    border: none;
    height: 40px;
    font-size: 12px;
}

#myModal .modal-content
{
    background-color: #F5F5F5;
    color: #4E4E4E;
    font-family: 'Avenir Next', sans-serif!important;
    font-size: 20px;
    font-weight: 300!important;
    box-shadow: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

label
{
    font-weight: 400!important;
}

.modaltest {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0;
}

.modal-content h2
{
    padding: 0;
}

.form-group button
{
    text-align: center;
    color: white;
    margin: auto;
    display: block;
}

.iu-container label
{
    font-family: 'Avenir Next', sans-serif!important;
    color: #4E4E4E!important;
}

.iu-pseudobuttonContent
{
    position: relative;
    top: -8px;
    left: 23px;
}



/*/////////////////////////////////////////////

                   COMMENT

/////////////////////////////////////////////*/

.comment{
    font-size: 16px;
    font-weight: 400;
}

.title-comment{
    font-weight: 700;
    color: #5621D9;
}

.date-comment{
    font-size: 12px;
}
